body{
    margin: 0; 
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body, html{
    height: 100%;
}

/* Shared styles */

/* Headers */
h1,h2,h3,h4{
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
}

/* Links */ 
a:link{
    color: #000; 
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* Paragraphs */
p{
    font-size: 22px;
}

.wrapper{
    height: 100%;
}

/* Sticky topbar */
.topbar{
    position: fixed;
    width: 100%;
    z-index: 99;
}

nav{
    background: rgba(41,224,162,0.95);
}

nav ul{
    margin: 0; 
    padding: 0;
}

nav ul li{
    list-style: none;
    padding: 15px;
    font-size: 25px;
    text-transform: uppercase;
}

header{
    height: 100%;
    width: 100%;
    background-size: cover;
}

/* Main */
.main{
    padding: 30px 15px 30px 15px;
}

article{
    max-width: 750px; 
    margin: 0 auto;
    line-height: 35px; 
}

span.text-center{
    text-align: center;
}

article img{
    padding: 15px 0px 0px 0px;
}

.tail{
    width: 100%; 
    height:;
    background: #ccc; 
    position: fixed;
    bottom: 0!important; 
    left: 0;
}

/* Sticky Footers */
footer{
    bottom: 30px; 
    left: 30px;
    position: fixed;
    z-index: 99;
}

footer ul{
    margin: 0; 
    padding: 0; 
}

footer li{
    list-style: none;
    font-size: 10px;
    padding: 2px 0px 2px 0px;
}

footer li:first-child{
    padding: 0px 0px 2px 0px;
}

footer  li:last-child{
    padding: 2px 0px 0px 0px;
}

footer li a{
    color: #000;
    text-decoration: none; 
}

footer li a:hover{
    text-decoration: underline;
}
