@charset "UTF-8";
/* CSS Document */

body {
	width: 550px;
	margin:0 auto;
	top-padding: 200px;
	background-color: #1b3690;
	font-size: 25px;
	color: white;
	font-family: 'Lora', serif;
}

#head {
	width: 700px;
	margin:0 auto;
}

div {
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}